Package: com.ioscreatix.peek-a-boo
Name: Peek-a-Boo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
