Package: com.ioscreatix.peek-a-boo
Name: Peek-a-Boo
Depends: mobilesubstrate
Version: 11.0.2
Architecture: iphoneos-arm
Description: 3D Touch on Non-3D-Touch Devices
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
